@charset "utf-8";

	.box-class			{	background-color	: #AACCFF;
							height				: 100px;
							width				: 100px;
							border				: 3px solid #FF0000;
							margin				: 10px;
							padding				: 10px;
							text-align			: center;
							box-shadow			: 4px 4px 10px 2px #D0CEC6;
						}
	.box-class:hover	{	background-color	: #33AACC; 						}
	.box-class:active	{	background-color	: #FFAACC; 						}
	.circle-class		{
							background-color	: #FFCC00;
							height				: 100px;
							width				: 100px;
							border				: 3px solid #FF00FF;
							border-radius		: 50%;
							text-align			: center;
							box-shadow			: 4px 4px 10px 2px #D0CEC6;
							background			: linear-gradient(30deg, cyan, purple);
						}

