@charset "utf-8";
/* root ----------------------------------------------------------------------------------------------- */
		*								{	margin				: 0;
											padding				: 0;
											box-sizing			: border-box;
										}
		:root							{	
											--h1-color			: blue;
											--hdr-shadow-color	: #DDDDDD;
											--hdr-a-color		: #5A5C5F;
											--hdr-bgcol			: white;
											--hdr-a-hover-bgcol	: #E1F1FF;
											--main-color		: #5A5C5F;

											--hdr-padding-v		: 0px;
											--hdr-padding-h		: 10px;
											--hdr-logo-height	: 32px;
											--hdr-logo-margin	: 6px;
											--hdr-link-fontsize	: 16px;
											--hdr-link-margin-t	: 14px;	/* logo-margin + (logo-height - link-fontsize) / 2 */
											--hdr-link-margin-l	: 5px;
											--hdr-shadow-size	: 10px;

											--main-margin-top	: 60px;
											--h1sub-line-height	: 1.2;		/* line height = 2 x font-size */
											--footer-font-size	: 80%;
										}
		html							{
										}
/* header --------------------------------------------------------------------------------------------- */
		.header-class					{	position			: fixed;
											top					: 0;
											width				: 100%;
											background-color	: var(--hdr-bgcol);
										}
		.header-container-class			{	padding				: var(--hdr-padding-v) var(--hdr-padding-h);
											box-shadow			: 0 0 var(--hdr-shadow-size) var(--hdr-shadow-color);
										}
		.header-img-class				{	height				: var(--hdr-logo-height);
											margin				: var(--hdr-logo-margin);
										}
		.header-right-div-class			{	float				: right;
											margin-top			: var(--hdr-link-margin-t);
											margin-right		: var(--hdr-link-margin-l);
											color				: var(--hdr-a-color);
										}
		.header-right-div-class *		{	margin-left			: 5px;
										}
		.header-right-div-class a:hover	{	background-color	: var(--hdr-a-hover-bgcol);
											transition			: background-color 1s;
										}
		.clear-float-class				{	clear				: both;						}

/* main ----------------------------------------------------------------------------------------------- */
		main							{	/* background-image	: url("img/sky.jpg"); */
											/* background-size	: cover; */
											color				: var(--main-color);
											margin-top			: var(--main-margin-top);
										}
		h1								{
											margin				: 12px;
											text-align			: center;
											color				: var(--h1-color);
											text-shadow			: 5px 5px 10px #AAAAFF;
										}
		.h1sub-text-class				{
											line-height			: var(--h1sub-line-height);
											text-align			: center;
											font-family			: serif;
											font-weight			: bold;
											margin-bottom		: 12px;
										}

		p								{	font-family			: serif;
										}
		.main-menu						{
											text-align			: center;
											list-style-type		: none;
											background-color	: dodgerblue;
											margin				: 0 5%;
											padding				: 3px 5px;
											border-radius		: 5px;
										}
		.main-menu > *:hover			{
											background-color	: #CCC;
											color				: #447;
										}
		.main-menu > *					{
											border				: solid 1px;
											text-align			: center;
											background-color	: #F1F1F1;
											margin				: 14px 14px;
											padding				: 5px 0;
											border-radius		: 8px;
											color				: #447;
										}
		.main-menu > * > *				{
										/*	font-family			: sans-serif;	*/
											text-decoration		: none;
										}
/* footer --------------------------------------------------------------------------------------------- */
		footer							{	text-align			: center;
											font-size			: var(--footer-font-size);
										}

